@charset "utf-8";
/* CSS Document */
.top-bar,.bottom-bar{
	width: 100%;height: 80px;line-height: 80px
}
.container{
	width: 96%;height: auto
}
.icon a{
	padding:0;margin:0 10px;color:white
}
.top-bar a{
	color: white
}
.top-bar a:hover{
	color: #F2C94C
}
.navbar .navbar-nav .nav-item .nav-link{
	color:white
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #FF0004
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color:#666666;padding-bottom: 0;padding-top: 0 
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
	color: white
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
background-color: white;color:#666666
}
.navbar .navbar-nav .nav-item .nav-link{
	padding-left: 30px
}
main{
	width: 100%;min-height: 500px
}
footer{
	width: 100%;min-height: 200px
}
.gach-chan{
	border-bottom: 2px solid #F2C94C
}
footer .navbar-nav .nav-item .nav-link:hover{
	color: #F2C94C
}
.img-100{ width: 100%; height: auto}
.banner a{
	color:#666666;text-decoration: none
}
.banner a:hover{
	color:blue}
.container2{
	width: 90%;height: auto
}
.row .ao-thun a{
	color:#666666;text-decoration: none}
.row .ao-thun2 a{
	color:#666666;text-decoration: none}
.row .ao-thun a:hover{
	color:blue}
.row .ao-thun2 a:hover{
	color:blue}
footer ul li a{
	color:aqua;text-decoration: none;}
footer ul{
	list-style: none
}